// When writing any SCSS code for your component, you should first include this file.
// This will load all variables and mixins that you can use
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";
@import "base/variables";
@import "utils/mixins";
@import "utils/utility-classes";
