html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
// #root, #root>div {
//   height: 100%
// }
body {
  overflow-x: hidden;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  &.modal-open {
    overflow: visible;
    padding-right: 0 !important;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}
.container {
  position: relative;
}

.container-fluid {
  max-width: 1600px;

  @include media-breakpoint-up(xxl) {
    padding: 0 50px;
  }
}
p {
  text-align: left !important;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

.app-main {
  background-color: $clrGreyBg;

  .toolbar-tray-open & {
    top: 79px !important;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.b-lazy {
  opacity: 0;
  transition: opacity 0.5s $easeOutCirc;

  &.b-loaded {
    opacity: 1;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.btn {
  width: 312px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 3em 0;
  // padding: 0 !important;
  // font-size: $fontSize18 !important ; 
  color: $white;
  border-radius: 21px;
  box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);
  background: linear-gradient(
    90deg,
    rgba(123, 228, 149, 1),
    rgba(50, 157, 156, 1)
  );
}

.btn-red {
  width: 312px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 3em 0;
  // padding: 0 !important;
  // font-size: $fontSize18 !important ; 
  color: $white;
  border-radius: 21px;
  box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);
  background: linear-gradient(
    90deg,
    #cf4d58,
    #e97a67
  );
}

.btn-white {
  width: 312px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 3em 0;
  color: $clrDarkBlue;
  border-radius: 21px;
  box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(215, 243, 242, 1)
  );
}

.go-back {
  margin-top: 6%;
  margin-left: 2%;
  cursor: pointer;
  width: 180px;
  transition: transform .2s ease-in;

  svg {
    transition: transform .2s ease-in;
  }

  &:hover svg {
    transform: translateX(10px);
  }

}


.brand-wrapper {
  margin-bottom: 19px;

  .logo {
    height: 37px;
  }
}

.login {
  .container {
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }

  .col-md-5 {
    @include media-breakpoint-down(md) {
      height: 200px;
    }
  }
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;

  &-img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .providers-login {
    margin: 2em 0;

    &__title {
      font-size: $fontSize14;
    }
  }

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;

    &:focus,
    &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
  }

  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .google-button__icon--plus {
    width: 27px;
  }

  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", arial, sans-serif;
  }

  .card-body {
    padding: 85px 60px 60px;

    @media (max-width: 422px) {
      padding: 35px 24px;
    }
  }

  &-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
  }

  form {
    max-width: 426px;
  }

  .react-tel-input .form-control {
    width: 100%;
    padding-left: 48px !important;
    margin-bottom: 20px !important;
  }

  .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;

    &::placeholder {
      color: #919aa3;
    }
  }

  .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    margin: 1em 0;
    transition: transform .2s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }

  .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
  }

  &-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &-footer-nav {
    a {
      font-size: 14px;
      color: #919aa3;
    }
  }
}
