body {
  // @include poppins;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#root {
  // all styles below an app-body class, so it won't impact the drupal menu

  h1,
  h2,
  h3,
  h4,
  .h1-style,
  .h2-style,
  .h3-style,
  .h4-style {
    font-family: $headerFontFamily;
  }

  .display {
    font-size: $fontSize58;
    line-height: #{$fontSize58 * 1};

    @include media-breakpoint-up(md) {
      font-size: $fontSize80;
      line-height: #{$fontSize80 * 1};
    }
  }

  h1,
  .h1-style {
    // @include poppinsBlackItalic();
    font-size: $fontSize48;
    line-height: #{$fontSize48 * 1};
    font-weight: bold;

    @include media-breakpoint-up(md) {
      font-size: $fontSize58;
      line-height: #{$fontSize58 * 1};
    }
  }

  h2,
  .h2-style {
    // @include poppinsBold();
    font-size: $fontSize40;
    line-height: #{$fontSize40 * 1};

    @include media-breakpoint-up(md) {
      font-size: $fontSize48;
      line-height: #{$fontSize48 * 1};
    }
  }

  h3,
  .h3-style {
    // @include poppinsMedium();
    font-size: $fontSize36;
    line-height: #{$fontSize36 * 1};

    @include media-breakpoint-up(md) {
      font-size: $fontSize40;
      line-height: #{$fontSize40 * 1};
    }
  }

  h4,
  .h4-style {
    // @include poppinsBold();
    font-size: $fontSize22;
    line-height: #{$fontSize22 * 1};

    @include media-breakpoint-up(md) {
      font-size: $fontSize28;
      line-height: #{$fontSize28 * 1};
    }
  }

  h5 {
    @include notoCondensed();
    font-size: $fontSize20;
    line-height: #{$fontSize20 * 1};

    @include media-breakpoint-up(md) {
      font-size: $fontSize24;
      line-height: #{$fontSize24 * 1};
    }
  }

  h6 {
    @include notoBoldCondensed();
    font-size: $fontSize16;
    line-height: #{$fontSize16 * 1};
  }

  b {
    // @include poppinsBold();
    font-size: $bodyFontSize;
    line-height: $bodyLineHeight;
  }

  .p-small {
    font-size: $fontSize12;
    line-height: #{$fontSize12 * 1.5};
    padding-bottom: 1rem;
  }

  // .wysiwyg content: see components/_wysiwyg.scss
}
