# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
bachelor/node_modules
bachelor/.pnp
bachelor/.pnp.js

bachelor/flask/venv
bachelor/flask/__pycache__
# testing
./bachelor/coverage

# production
./bachelor/build

# misc
./bachelor/.DS_Store
./bachelor/.env.local
./bachelor/.env.development.local
./bachelor/.env.test.local
./bachelor/.env.production.local

./bachelor/npm-debug.log*
./bachelor/yarn-debug.log*
./bachelor/yarn-error.log*
