.transition {
  transition: all 0.1s ease;
}

.task {
  max-width: 500px;

  &-cat {
    .food {
      padding: 5px 10px;
      border-radius: 10px;
    }
  }

  &-intro {
    margin-top: 1em;
  }

  img {
    max-width: 50px;
  }
}

.pill-image {
  width: fit-content;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 5px 7px rgba(66, 142, 177, 0.22);
  }
}

.btn {
  @extend .transition;
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  &:hover {
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
  }

  &--action {
    background-color: #739600;
    color: white;
  }
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0px 10px 9px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
    2px 2px 2px #ffffff inset;
}

.task button {
  background: rgb(12, 124, 251);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.header {
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
}

.create-task input[type="text"] {
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  border: none;
  padding: 0.7em;
}

.events {
  &__list {
    &__time {
      font-size: $fontSize20 !important;
      margin: 3em 0 1em;
    }
  }
  &__tag {
    background: $blue;
    border: 2px solid $item-border;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: $white;
    font-size: $fontSize12;
    font-weight: 700;
    width: 60px;
    margin-left: 16px;
    padding: 5px 2px;
    text-align: center;

    &--highlighted {
      background: $yellow;
    }
  }

  &__item {
    background: $white;
    border-left: 8px solid $green;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &--left {
      width: calc(100% - 76px);
    }
  }

  &__name {
    font-size: $fontSize14;
    font-weight: 700;
    color: $black;
    display: block;
    margin-bottom: 6px;
  }

  &__date {
    font-size: $fontSize14;
    color: palette(gray-shades, darker);
    display: inline-block;
  }
}
