.area {
  background: #43af9b;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  position: relative;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 30px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 10px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 10px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 10px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 55px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 75px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 12px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 7.5px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 75px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 40%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.add-medicine {
  max-width: 550px;
  width: 100%;
  margin: 0 auto !important;
  padding-top: 3em;

  .btn {
    width: 312px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 3em 0;
    color: $white;
    border-radius: 21px;
    box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);
    background: linear-gradient(
      90deg,
      rgba(123, 228, 149, 1),
      rgba(50, 157, 156, 1)
    );
  }

  &__name {
    margin: 3em 0;
  }

  &__time {
    background-color: $yellow;
    display: flex;
    align-items: center;

    &__timepicker {
      input {
        border-radius: 21px;
        height: 44px;
        color: $clrDarkBlue;
        font-weight: bold;
        font-size: 1.137rem;
        text-align: center;
      }
    }

    .stripe {
      border-left: 1px solid $clrGrey;
    }
  }

  &__date,
  &__time,
  &__option {
    margin: 3em 0;
    padding: 20px;
    border-radius: 21px;
    box-shadow: 8px 8px 13px rgba($color: #000000, $alpha: 0.13);
    background-color: $white;

    &__title {
      font-weight: bold !important;
      margin-bottom: 1em;
    }
    .datePicker {
      text-align: center;
      padding: 0.5rem 1.5rem;
      border-radius: 21px;
      border: 0;
      color: $clrDarkBlue;
      outline: none;
      background-color: $clrBlueLight;
      width: 11ch;
      padding: 10px;
      overflow-y: hidden;
      resize: none;
    }
  }

  &__option {
    .rangeData {
      margin-top: 2em;
    }
  }
}
.rangeData {
  display: inline-flex;
  width: 100%;
  align-items: center;

  p {
    margin: 0 0 0 3%;
  }
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  user-select: none;
  & > * {
    margin: 0.5rem 0.5rem;
  }
}

.checkbox-group-legend {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

.checkbox-input {
  // Code to hide the input
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    color: #2260ff;
    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: #2260ff;
      border-color: #2260ff;
    }

    .checkbox-icon,
    .checkbox-label {
      color: #2260ff;
    }
  }

  &:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border-color: #2260ff;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

.DatePicker {
  z-index: 0;
}