body {
  height: 100%;
}

.headerDes {
  text-align: center;
  padding: 50px 0 50px 0;
  background-color: $yellow;
  border-radius: 0 0 21px 21px;
}

h4 {
  font-weight: 700;
  padding-top: 0px;
  margin: 0;
}

.descriptionImg {
  margin-top: 50px;
  max-height: 400px;

  @include media-breakpoint-down(md) {
    max-height: 225px;
  }
}

.descriptionImgIntake {
  max-height: 500px;

  @include media-breakpoint-down(md) {
    max-width: 325px;
  }
}


.bodyPres {
  margin: 50px 0 50px 0;
  text-align: left !important;

  p {
    text-align: left;
  }
}

.addPres {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pres {
  text-align: left;
  padding-bottom: 1em;
}

.description {
  width: 40%;
  margin: 0 auto 2em;
  background: white;
  border-radius: 21px;
  padding: 10px;
  font-size: $fontSize20;
  box-shadow: 8px 8px 13px rgba($color: #000000, $alpha: 0.13);

  @include media-breakpoint-down(md) {
    width: 90%;
  }

  p {
    text-align: center !important;
  }
}

.tag {
  font-size: $fontSize20;
  padding: 4px 12px;
  border-radius: 20px;
  
  &.before {
    background-color: $blue;
    color: $clrBlueLight;
  }

  &.during {
    background-color: $green;
    color: $clrBlueLight;
  }

  &.after {
    background-color: $purple;
    color: $clrBlueLight;
  }
}

.logo {
  text-align: right;
}


.labelHead {
  padding: 0 12px;
  margin-bottom: 30px;
}

.imgLabel {
  text-align: center;
}

img {
  border-radius: 4px;
}
