.home {
  background-color: $clrGreen;
  width: 100%;
  padding: 3em;
  min-height: 400px;
  max-width: 100%;

  .introduction {
    padding-bottom: 4em;
    color: $white;
    
    span {
      font-size: $fontSize28;
    }
    p {
      text-align: left;
    }
  }
}

.white {
  color: $white;
}
.overview {
  border-radius: 20px 20px 0 0;
  background-color: $clrGreyBg;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-bottom: 150px;
  min-height: 50vh;

  &__activity {
    margin-top: 3%;
  }
}
