.smartbox {
    &__image {
        max-width: 500px;
        height: 417px;
        justify-content: center;
        display: flex;
        margin: auto;
        width: 100%;
    }
    
    &__intro {
        align-items: center;

        h3{
            margin-bottom: 1em;
        }

        .otp-wrapper {
            margin-bottom: 2em;

            .error {
                border: 1px solid $red !important;
            }
        }

        .otp {
            input {
                box-shadow: 8px 1px 13px rgba($color: #000000, $alpha: 0.13);
            }
        }
    }
}

.day {
    &__header {
        padding: 2em 1em;
        border-radius: 21px;
        text-align: center;
        margin-bottom: 1em;

        p {
            text-align: center !important;
        }

        &__monday {
            background-color: $lightRed;
        }

        &__tuesday {
            background-color: $purple;
        }

        &__wednesday {
            background-color: $lightPurple;
        }

        &__thursday {
            background-color: $salm;
        }

        &__friday {
            background-color: $yellow;
        }

        &__saturday {
            background-color: $clrBlue;
        }

        &__sunday {
            background-color: $green;
        }



        h2 {
            font-size: $fontSize48 !important;
            margin-bottom: 1em;
        }
    }
}

