.smartbox {
    &__image {
        max-width: 500px;
        height: 417px;
    }
}

.day {
    &__header {
        padding: 2em 1em;
        border-radius: 21px;
        text-align: center;
        margin-bottom: 1em;

        &__monday {
            background-color: $lightRed;
        }

        &__tuesday {
            background-color: $purple;
        }

        &__wednesday {
            background-color: $lightPurple;
        }

        &__thursday {
            background-color: $salm;
        }

        &__friday {
            background-color: $yellow;
        }

        &__saturday {
            background-color: $clrBlue;
        }

        &__sunday {
            background-color: $green;
        }



        h2 {
            font-size: $fontSize48 !important;
            margin-bottom: 1em;
        }
    }
}

