.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  background-color: #edf1f2;
}

.dashboard__header {
  background-color: $yellow;
  padding: 20px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard__header p {
  color: $clrDarkBlue;
}

.dashboard-main__item {
  background-color: #fff;
  border: 1px solid $clrGreySuperLight;
  text-align: center;
  padding: 40px 0 40px 0;
  overflow: hidden;
  position: relative;
  flex: 33%;
  max-width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  svg {
    max-width: 40px;
    max-height: 40px;
  }

  &__profile,
  &__calendar,
  &__delete,
  &__dashboard,
  &__pillcase {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  &__profile {
    background-color: $lightOrange;
    svg {
      fill: $orange;
      color: $orange;
      stroke: $orange;
    }
  }

  &__calendar {
    background-color: $lightYellow;
    svg {
      fill: $yellow;
      color: $yellow;
      stroke: $yellow;
    }
  }

  &__delete {
    background-color: $lightRed;
    svg {
      fill: $red;
      color: $red;
      stroke: $red;
    }
  }

  &__dashboard {
    background-color: $lightBlue;
    svg {
      fill: $clrBlue;
      color: $clrBlue;
      stroke: $clrBlue;
    }
  }

  &__pillcase {
    background-color: $lightPurple;
    svg {
      fill: $purple;
      color: $purple;
      stroke: $purple;
    }
  }
}

.dashboard-main__item h5 {
  color: $clrFontMain;
  margin-bottom: 10px;
  font-size: 1rem !important;
  font-weight: bold !important;
}

.dashboard-main__item h5 i {
  color: #b5b5b5;
  font-size: 1rem;
  margin-right: 10px;
}

.dashboard-main__item h4 {
  font-weight: bold;
  font-size: 3.2rem;
}

.dashboard-main__item h6 {
  font-weight: normal;
  color: #b5b5b5;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.dashboard-main__item h6 * {
  font-weight: normal;
  color: #b5b5b5;
  font-size: 1.1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .dashboard-main__item {
    flex: 48%;
    max-width: 48%;
  }
}


.profile {


  .form-group {
    margin-bottom: 1em;
  }

  .btn {
    width: 216px;
    margin: 1em 0;
  }

  .picture {
    width: 150px;  
  }

  .react-tel-input .form-control {
     width: 100%; 
  }
}