/* wave */
.timer-background {
  transform-origin: 50% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    140% 160% at 110% 70%,
    rgb(30, 56, 76) rgba(230, 0, 150, 0)
  );

  .wave {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    transform: rotate(180deg);
    background-color: $clrGreen;
    border-radius: 34px 34px 0 0;

    &__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background: radial-gradient(
        circle,
        $clrGreen 7%,
        rgba(9, 9, 121, 0) 35%,
        rgba(0, 212, 255, 0) 100%
      );
      z-index: 1;
    }
  }

  .countdown-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    .pillName {
      background-color: $white;
      padding: 20px 10px;
      border-radius: 21px;
      width: 312px;
      text-align: center;
      margin-bottom: 1em;

      &__title {
        font-size: $fontSize22;
        color: $clrAqua;
        font-weight: bold;
      }
    }

    &__timer {
      width: 312px;
      padding: 40px 20px;
      background-color: $white;
      border-radius: 21px;
      box-shadow: 0 34px 55px rgba(40, 40, 40, 0.08);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .inner {
        justify-content: center;
        flex-direction: column;
        text-align: center;

        P {
          margin: 20px 0;
        }
      }
    }

    &__button {
      width: 312px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3em 0;
      color: $white;
      border-radius: 21px;
      box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);
      background: linear-gradient(
        90deg,
        rgba(123, 228, 149, 1),
        rgba(50, 157, 156, 1)
      );
    }
  }
}
