.dropzone-img {
    max-width: 310px;
    border-radius: 21px;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
}

.react-html5-camera-photo>.display-error {
    max-width: 768px;
    margin: 6em auto 0;
}

.react-html5-camera-photo>.display-error ~ .react-html5-camera-photo>video {
    height: 100px;
}

.upload-wrapper {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

.response-wrapper {
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;


    &__response-data {
        margin-bottom: 3em;
        height: 100%;

   
    }
}

.demo-image-preview {
    img{
        @include media-breakpoint-down(md) {
            max-width: 300px;
        }
    }
}

#explore {
  background: linear-gradient(#7d8393, #414757);
  overflow: hidden;
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.4);
}

@keyframes inactive-location-top {
  100% {
    transform: translateY(-100%);
  }
}


 #explore {
  display: flex;

  .exp-main {
    width: 100%;
  }
  
  .exp-location {
    .exp-card.-title {
      transform: scale(1);
      pointer-events: none;
      cursor: default;
    }
  }
}

.exp-location {
  position: initial;
  background: $white;
  color: $clrDarkBlue

}

.exp-details {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.exp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  /* height: 28vh; */
  padding: 2rem;
  text-decoration: none;
  background-color: #252a37;


  @include media-breakpoint-down(md) {
    position: relative;
    width: 100%;
    min-height: 19vh;
  }
  
  &.-title {
    z-index: 1;
    color: white;
  }
  
  &.-info {
    background-color: white;
  
    > .subheading {
      color: #999;
    }
  }
}

.exp-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 3em;

  @include media-breakpoint-down(md) {
    padding: 1em;
}
  
  > img {
    width: 100%;
  }
}

.exp-facts {
  padding: 2em 2em 6em;
  color: white;
  background-color: #575d6c;

  @include media-breakpoint-down(md) {
      top: initial;
  }

  > .heading {
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  > .paragraph {
    font-size: 120%;
    font-weight: 300;
    line-height: 1.5;
    word-break: break-word;
  }
}


.heading {
  font-size: 200%;
  font-weight: 400;
  
  &:first-child {
    margin-top: 0;
  }
  &.-h1 {
    margin-bottom: 0.5rem;
    font-size: 2.625rem !important;
  }
  &.-h2 {
    margin-bottom: 0.5rem;
    font-size: 2.625rem !important;
  }
}

.subheading {
  font-size: 100%;
  font-weight: 300;
}