.onboarding {
  flex: 1;
  text-align: center;
  padding: 50px 20px 15px;
  display: flex;
  flex-direction: column;

  p {
    text-align: center !important;
    font-size: $fontSize20;
    line-height: 30px;
    max-width: 700px;
    margin: 0 auto;
  }
}

.onboarding-slides {
  flex: 1;
}

.onboarding-illustration {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.onboarding-title {
  margin: 40px 0 25px;
  font-size: 20px;
}

.onboarding-subtitle {
      padding: 0 5px;
    font-size: 14px;
    color: #aaa;
    line-height: 22px;
}

.onboarding-action-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onboarding-button {
  background-color: transparent;
  border: none;
  outline: 0;
}

.onboarding-button {
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

.onboarding-button[disabled]{
  color: #aaa;
}

.onboarding-button-next {
  color: #6c63ff;
}

.onboarding-button-next:hover,
.onboarding-button-next:focus {
  color: #fff;
  background-color: #6c63ff;
}

.onboarding-slides-indicators {
  display: flex;
  align-items: center;
}

.onboarding-slides-indicator {
  border-radius: 20px;
  font-size: 0;
  padding: 6px;
  background-color: #6c63ff33;
  margin: 0 2px;
}

.onboarding-slides-indicator--active {
  background-color: #6c63ff7d;
}

