.dashboard-intro {
  width: 100%;
  background-color: #ebf2fe;
  border-radius: 21px;

  .intro {
    margin: 0;
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: $fontSize20;
    padding: 1em;
    
    p {
      text-align: left;
      max-width: 800px;
    }
  }
}
.medicine-form {
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}
.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  .user-card {
    background: $white;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px lighten($black, 92);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
    padding-bottom: 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 3px 14px 7px lighten($black, 92);
    }
    .image-wrapper {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-bottom: auto;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .user-name {
      color: $clrDarkBlue;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: auto;
    }
    .user-text {
      color: $gray;
      font-size: 14px;
      margin-bottom: auto;
    }

    .user-role {
      background: $clrGreySuperLight;
      border-top: 1px solid $clrGrey;
      color: $clrGreyDark;
      align-self: stretch;
      margin: 0px -20px;
      text-align: center;
      margin-top: auto;
      padding: 10px 0px;
    }
  }
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;

  @include media-breakpoint-down(md) {
    width: 90%;
  }
}

.popup-content {
  max-width: 800px;
  padding: 2em 0;
  margin: 0 auto;
  text-align: center;

  p {
    text-align: center !important;
    padding-bottom: 1em;
  }
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(10% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.clearfix {
  display: flex;
  justify-content: center;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 40%;
  padding: 14px 20px;
  margin: 8px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  color: $white;
  border-radius: 21px;
  box-shadow: 15px 15px 40px rgba(50, 157, 156, 0.21);

  @include media-breakpoint-down(md) {
    width: 90%;
  }

}

/* Add a color to the cancel button */
.cancelbtn {
  background: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background: linear-gradient(
    90deg,
    #cf4d58,
    #e97a67
  );
}

.ql-container {
  box-sizing: border-box;
  font-size: 16px;

}


